<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/3ddd8dbd-2d6c-4168-8538-a040b412852d/resourceGroups/fixy-rg/providers/Microsoft.ApiManagement/service/FixyApi/apis/FixyApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3ddd8dbd-2d6c-4168-8538-a040b412852d/resourcegroups/fixy-rg/providers/Microsoft.Web/sites/FixyApi</ResourceId>
    <ResourceGroup>fixy-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fixyapi-fzhfddbza4bmb3a6.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>44a26726-f3e8-7cd2-3f71-c17d669abbd9</ProjectGuid>
    <PublishUrl>https://fixyapi-fzhfddbza4bmb3a6.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>